* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* como os itens são renderizados, faz um alinhamento bem melhor */
}
header{
    background-color: white;
    border: 2px solid black;
    height: 50px;
}
footer{
    background-color: white;
    border: 2px solid black;
    min-height: 50px;
}
.container {
    padding: 0.1rem;
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* definicao das colunas */
    gap: 0.5rem 0.5rem;
    
}
.mainContent{
    flex: 1 0 auto;
    padding: 0.8rem;
    gap: 0.5rem 0.5rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-rows: minmax(300px, auto);
    display: grid;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6"
    ;
    height: 100vh;
}
.item {
    
    padding: 0.8rem;
    border: 2px solid black;
    background-color: white; 
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}