.container{
  background-color: #f1f1ff;
  border-radius: 2rem;
  box-shadow: 4px 4px 16px -8px rgba(0, 0, 0, 0.386);
  text-align: center;
  width: auto;
  
}


.avatar{
  box-shadow: 0px 8px 16px rgba(87, 86, 86, 0.553);
  border-radius: 5rem;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followButton{
  margin-left: 0.5rem;
  padding: .15rem .5rem;
}