.header{
  height: 60px;
  outline: 1px solid red;
}
.nav{
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  margin-top: 0.5rem;
}
.ul{
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
  display: flex;
  margin-right: 0.2rem;

}
.ul > li{
  margin-left: 0.5rem;
  
}
li > a{
  text-decoration: none;
  color: black;
}