$btn-color: #ff4043;
$width-btn: 80px;

.btn1{
    width: $width-btn;
    background-color: $btn-color;
}

.btn2{
    width: $width-btn;
    background-color: $btn-color;
}
//imagine você tendo que trocar a cor de todos os botões