@charset 'utf-8';

body{
    
}
header{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
/*Propriedades relaciodas as fontes*/
h1{
    font-family: sans-serif;
    font-weight: 100;

    
}
h2{
   font-size: 16px;
   letter-spacing: 8px;
   text-transform: uppercase; 
}
p{
    font-stretch: ultra-expanded;
    font-family: sans-serif;
}
.bold{
    font-weight: bold;
    font-family: 'Victor Mono', monospace;
}
.italic{
    font-stretch: ultra-expanded;
    font-family:'Sometype Mono', monospace;
}