:root{
    --cor1:#3d351f;
    --cor2:#d6c596;
    --cor3:#706b33;
    --cor4:#ffebb3;
}

body{
    
   background-color: var(--cor4);
}
h1{
    
    color: var(--cor1);
}
h2{
    color: var(--cor3);
}
p{
    color: var(--cor3); 
}
